<?xml version="1.0"?>
<appConfig>
  <userManagement mode="Remote">
    <endPoint url="http://api.user.tinyerp.com"></endPoint>
  </userManagement>

  <connections>
    <add name="TinyERP.UserManagement.Context.UserDbContext" server=".\SQLEXPRESS" user="sa" password="123456" databaseName="UserDbContext"/>
    <add name="TinyERP.Course.Context.CourseDBContext" server=".\SQLEXPRESS" user="sa" password="123456" databaseName="CourseDbContext"/>
  </connections>
</appConfig>