<?xml version="1.0"?>
<appConfig>
  <userManagement mode="Remote">
    <endPoint url="http://api.user.tinyerp.com"></endPoint>
  </userManagement>

  <connections>
    <add name="TinyERP.UserManagement.Context.UserDbContext" server=".\SQLEXPRESS01" user="sa" password="123" databaseName="UserDbContext"/>
    <add name="TinyERP.Course.Context.CourseContext" server=".\SQLEXPRESS01" user="sa" password="123" databaseName="CourseDbContext"/>
    <add name="TinyERP.LoggerManagement.Context.LogDbContext" server=".\SQLEXPRESS01" user="sa" password="123" databaseName="LogDbContext"/>
    <add name="TinyERP.AuthorManagement.Context.AuthorDbContext" server=".\SQLEXPRESS01" user="sa" password="123" databaseName="AuthorDbContext"/>
  </connections>
  <logger type="File">
    <endPoint url="http://api.logger.tinyerp.com"></endPoint>
  </logger>
</appConfig>