<?xml version="1.0"?>
<tinyErpConfiguration>
  <userManagement
    apiEndpoint="http://usermanagement.tinyerp.com/api/users"
    intergrationMode="Remote">
  </userManagement>
  <databaseConnections>
    <add name="TinyERP.Course.Context.ICourseDbContext" server=".\SQLEXPRESS" userName="sa" password="123" database="CourseDbContext1"></add>
  </databaseConnections>
  <tasks mode="AllowAll">
    <task name="TinyERP.Course.Share.Task.CreateSeedDataCourseDbContext" enable="true"></task>
  </tasks>
</tinyErpConfiguration>